[submodule "intercept"]
	path = intercept
	url = https://github.com/mcoffin/intercept.git
	branch = mcoffin
[submodule "mariadbpp"]
	path = mariadbpp
	url = https://github.com/mcoffin/mariadbpp.git
    branch = intercept
[submodule "wolfssl"]
	path = wolfssl
	url = https://github.com/wolfSSL/wolfssl
[submodule "yaml-cpp"]
	path = yaml-cpp
	url = https://github.com/mcoffin/yaml-cpp.git
	branch = mcoffin
[submodule "mariadb-connector-c"]
	path = mariadb-connector-c
	url = git://github.com/mariadb-corporation/mariadb-connector-c.git
	branch = 3.2
